body {
    font-family: Verdana;
}
.header {
    width: 100%;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #cccccc;
}

.header-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-title {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.header-title > h1 {
    font-size: 18px;
}

.header-navs > ul > li {
    display: inline;
    padding: 5px;
}

.header-navs > ul > li > button {
    background-color: #3244ff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.header-navs > ul > li > a {
    text-decoration: none;
    color: #111111;
}

.main {
    width: 100%;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}